<h1>Log In</h1>

<% if @error %>
    <p><%= @error %></p>
<% end %>

<%= form_tag '/post_login' do %>
<%= label_tag :user_name %>
<%= text_field_tag :user_name %>
<br>
<%= label_tag :password %>
<%= password_field_tag :password %>
<%= submit_tag 'Log In' %>
<% end %>