<h1>Log In</h1>
<div>
<% if @error %>
    <p><%= @error %></p>
<% end %>

<%= form_tag '/post_login' do %>
<%= label_tag :user_name %>
<%= text_field_tag :user_name %>
<br>
<%= label_tag :password %>
<%= password_field_tag :password %>
<%= submit_tag 'Log In' %>
<% end %>
<br>
If you do not have an account, please register <li class = "link"> <%= link_to 'here', new_user_path %> </li>
</div>