<h1>Register as a user here!</h1>

<div id="register-div">
<% if !flash[:errors].nil? %>
 <%    flash[:errors].each do |error| %>
    <%= error %>
    <% end %>
<% end%>
<br>
<%= form_for @user do |f| %>

<%= f.label :user_name %>
<%= f.text_field :user_name %>
<br>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<br>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<br>
<%= f.label :age %>
<%= f.number_field :age %>
<br>
<br>
<%= f.label 'Add money to your account $' %>
<%= f.number_field :wallet  %>
<br>
<br>
<%= f.label :location %>
<%= f.text_field :location %>
<br>
<br>
<%= f.submit %>
<% end %>
</div>