<p><h1><%= @user.name %></h1></p>

<div class="user-grid">
    <div class="user-info-box" class="user-grid-item">
        <p>Username: <%= @user.user_name %></p>
        <p>Age: <%= @user.age %></p>
        <p>Location: <%= @user.location %></p>
        <p>Favorite baby: <%= @user.favorite_baby %></p>
    </div>

    <div class="wallet-info" class="user-grid-item">
        <% if @current_user == @user %>
            <p>You currently have $<%= @user.wallet %> in your wallet.</p>
        <p>Click <%= link_to 'here', add_funds_path %> if you would like to add funds to your wallet.</p>
        <br>
        <p><%= link_to 'Add Beanie Baby', new_ownership_path %><p>
        <% end%>
    </div>

    <div class="pending-trades-box" class="user-grid-item">
    <p><h3>Pending Trades Proposed by User: </h3></p>
    <ul><% @pending_trades_offered.each do |trade| %>
    <p><li>Wants <%= link_to trade.d_ownership.baby.name, confirm_trade_path(trade) %> from <%= link_to trade.d_ownership.user.name, user_path(trade.d_ownership.user) %></li></p>
    <% end %>
    </ul>
    </div>

    <div class="pending-trades-box" class="user-grid-item">
    <p><h3>Pending Trades for User to Confirm: </h3></p>
    <ul><% @pending_trades_recieved.each do |trade| %>
    <p><li><%= trade.g_ownership.user.name %> wants <span class="link"><%= link_to trade.d_ownership.baby.name, confirm_trade_path(trade) %></span></p></li>
    <% end %>
    </ul>
    </div>
</div>

<h1> Listings </h1>
<div class="grid-container">
    <% @user.ownerships.each do |ownership| %>
    <div class="grid-child"><p><%= ownership.baby.name %></p>
        <img class= "user-show-img" src=<%= ownership.baby.img_url %>>
        <br>
    <p class="link"><%= link_to 'See Listing', ownership_path(ownership) %></p>
    </div>
    <% end %>
 </div>


<br>
