<h1><%= @user.name %></h1>

<p>Username: <%= @user.user_name %></p>
<p>Age: <%= @user.age %></p>
<p>Location: <%= @user.location %></p>
<p>Favorite baby: <%= @user.favorite_baby %></p>
<% if @current_user == @user %>
<%= link_to 'Add Beanie Baby', new_ownership_path %>
<% end%>

<p><b>Pending Trades Proposed by User: </b></p>
 <ul><% @pending_trades_offered.each do |trade| %>
 <li>Wants <%= link_to trade.d_ownership.baby.name, confirm_trade_path(trade) %> from <%= link_to trade.d_ownership.user.name, user_path(trade.d_ownership.user) %></li>
 <% end %>
</ul>

<p><b>Pending Trades for User to Confirm: </b></p>
 <ul><% @pending_trades_recieved.each do |trade| %>
 <li><%= trade.g_ownership.user.name %> wants <%= link_to trade.d_ownership.baby.name, confirm_trade_path(trade) %></li>
 <% end %>
</ul>

<p>All babies: <% @user.ownerships.each do |ownership| %></p>
<%= ownership.baby.name %>
 <img src=<%= ownership.baby.img_url %>>
 <%= link_to 'See this Beanie Baby\'s bio', ownership_path(ownership) %>
 <% end %>
 


<br>
