<h1><%= @user.name %></h1>

<p>Username: <%= @user.user_name %></p>
<p>Age: <%= @user.age %></p>
<p>Location: <%= @user.location %></p>
<p>Favorite baby: <%= @user.favorite_baby %></p>
<% if @current_user == @user %>
You currently have $<%= @user.wallet %> in your wallet.
<br>
Click <%= link_to 'here', add_funds_path %> if you would like to add funds to your wallet.
<br>
<%= link_to 'Add Beanie Baby', new_ownership_path %>
<% end%>
<p>All babies: <% @user.ownerships.each do |ownership| %></p>
<%= ownership.baby.name %>
 <img src=<%= ownership.baby.img_url %>>
 <br>
 <%= link_to 'See this Beanie Baby\'s bio', ownership_path(ownership) %>
 


<% end %>
<br>

<br>
