<h1><%= @ownership.baby.name %></h1>
<div>
<img src=<%= @ownership.baby.img_url %>>
<br>
Condition: <%= @ownership.condition %>
<br>
Purchase Price: $<%= @ownership.purchase_price %>
<br>


<% if @ownership.user != @current_user%>
<%= link_to 'Trade for this baby', noo_trade_path  %>
<br>
<%= link_to 'Purchase this Baby', purchase_path %>
<% end%>

</div>