<h1><%= @baby.name %></h1>
<img class="baby-show-img" src=<%= @baby.img_url %>>

<div class="baby-show-box">
<p>Release year: <%= @baby.release_year %></p>
<p>Species: <%= @baby.species %></p>
<p>MSRP $<%= @baby.msrp %></p>
</div>





<div id="poem">
<%= @baby.poem %>
</div>
