<h1>Trade Confirmation</h1>
<%# enact methods here to crud on the associated ownerships and change their user_id %>
<p><b><%= @self_ownership.user.name %> has requested to trade:</b></p>
<%= @self_ownership.baby.name %>
<p><b>with <%= @foreign_ownership.user.name %> for their:</b></p>
<%= @foreign_ownership.baby.name %>
<br>
<br>
<% if @trade.d_ownership.user.id == @current_user.id %> 
<%= button_to 'Confirm Trade', confirm_trade_path %>
<% end %>
<%= button_to 'Cancel Trade', cancel_trade_path, method: :patch %>

