<!DOCTYPE html>
<html>
  <head>
    <title>BeanieBabyMarketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div id="navbar">
  <ul>
  <li><img src="https://upload.wikimedia.org/wikipedia/en/2/27/Ty_Company_Logo.png" id="logo"></li>
  <li><a href=<%= home_path %>>Home</a></li>
  <li><a href=<%= user_path(@current_user) %>>Profile</a></li>
  <li><a href=<%= babies_path %>>Beanie Babies</a></li>
  <li><a href=<%= users_path %>>Users</a></li>
  </ul>
</div>

  <% if check_login? %>
  Logged in as <%= @current_user.name %>
  <br>
  <%= button_to 'Log Out', logout_path, method: :delete %>
  <% else %>
  <%= link_to 'Log In', login_path %>
<%   end %>
<br>
  
  
    <%= yield %>
  </body>
</html>
